

/* ==========================================================================
   GENERAL STYLES
   ========================================================================== */
img {
	max-width: 200px;
}






/* ==========================================================================
   NAVIGATION SECTION
   ========================================================================== */



.navbar-color{
	background: black;
	border: none;
	opacity: 0.8;
}

#brand-image{
   height:px;
   line-height: 0px;
}



/* ==========================================================================
   MAIN
   ========================================================================== */






/* ==========================================================================
   GALLERY
   ========================================================================== */









/* ==========================================================================
   FOOTER
   ========================================================================== */







