

/* ==========================================================================
   GENERAL STYLES
   ========================================================================== */
img {
	max-width: 200px;
}






/* ==========================================================================
   NAVIGATION SECTION
   ========================================================================== */



.navbar-color{
	background: black;
	border: none;
	opacity: 0.8;
}



/* ==========================================================================
   ABOUT US
   ========================================================================== */









/* ==========================================================================
   FOOTER
   ========================================================================== */







